<h1>Stakeholder Engagement</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Email</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Sustainability Challenges</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stakeholders.each do |stakeholder| %>
      <tr>
        <td><%= stakeholder.name %></td>
        <td><%= stakeholder.role %></td>
        <td>
          <%= form_with model: stakeholder, url: stakeholder_path(stakeholder), method: :patch, local: true do |form| %>
            <%= form.email_field :email, placeholder: "Enter email", class: "form-control" %>
            <%= form.submit "Update Email", class: "btn btn-primary mt-2" %>
          <% end %>
        </td>
        <td><%= stakeholder.category %></td>
        <td><%= stakeholder.subcategory %></td>
        <td>
          <ul>
            <% stakeholder.challenges.each do |challenge| %>
              <li><%= challenge.name %></li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= link_to 'Generate/View Questionnaire', engagement_questionnaire_path(stakeholder), class: 'btn btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Stakeholders', stakeholders_path, class: 'btn btn-secondary mt-3' %>
<%= link_to 'View Results', results_path, class: 'btn btn-primary mt-3' %>

