<h1><%= @challenge.name %></h1>
<p><%= @challenge.description %></p>
<p>Category: <%= @challenge.category %></p>
<p>Subcategory: <%= @challenge.subcategory %></p>

<%= link_to 'Back to Challenges', challenges_path, class: 'btn btn-secondary' %>
